#
# Git Ignore Config, https://git-scm.com/docs/gitignore.
#

# Keep files, allows for empty directories in git.
!.keep

# Developer specific configuration.
/hiera/developer.yaml

# Vagrant runtime data.
/.vagrant/

# Puppet Librarian runtime and vendor files.
/.tmp/
/modules/
/*.log

# Files downloaded from vendor.
/app_modules/app_local/files/oracle-*

# IDE files, just in case they are not excluded elsewhere.
/.idea/
