#
# Git Ignore Config, https://git-scm.com/docs/gitignore.
#

# Developer Config
/hiera/developer.yaml

# Vagrant
/.vagrant

# Puppet Librarian
/.librarian
/.tmp
/modules

# Files downloaded from vendor.
/app_modules/app/files/oracle-*
